<div class="col-md-12">
	<div class="container">
		<form name="addInvoice">
			<fieldset>
				<div class="row">
					<div class="col-md-4">
						<div class="group">    
							<input type="text" ng-model="vm.invoice.customer" required>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Name</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="group">      
							<input type="date" ng-model="vm.invoice.date" required>
							<span class="highlight"></span>
							<span class="bar"></span>
						</div>
					</div>
					<div class="col-md-4">	
						<div class="group">    
							<input type="number" min="0" ng-model="vm.invoice.invoiceNumber" required>
							<span class="highlight"></span>
							<span class="bar"></span>
							<label>Invoice Number</label>
						</div>
					</div>
				</div>

				<!-- Product Inline Table -->				
				<h3 style="text-align:center">Products</h3>
				<hr>
				<div class="productOverflow" style="color:black">
					<table class="table table-bordered">
						<thead>
							<tr style="background: #333333; color:white">
								<th>Name</th>
								<th style="width: 150px">Quantity</th>
								<th style="width: 150px">Price</th>
								<th style="width: 150px">Total</th>
								<th style="width: 150px"><a ng-click="vm.addProduct()" class="btn btn-success">Add Product Line Item</a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr style="color:rgb(64, 64, 64)" ng-repeat="p in vm.invoice.products track by $index" class="pointer" ng-class-odd="'odd'" ng-class-even="'even'">
								<th>
									<input type="text" class="form-control" ng-model="p.name" style="width: 300px;" bs-options="name for name in vm.name" placeholder="Search by product name" bs-typeahead>
									<span class="bar"></span>
								</th>
								<th><input placeholder="0" min="0" precision="0" type="number" style="width: 75px;" ng-model="p.quantity" required></th>
								<th><input placeholder="0" min="0" money precision="2" style="width: 90px;" ng-model="p.price" required></th>
								<th><input style="width: 80px;" ng-model="p.lineTotal" placeholder="${{(0+p.quantity)*(0+p.price)}}" money precision="2" disabled></th>
								<th class="text-center"><i ng-click="vm.removeProduct()" style="color:red; margin-right: 15px;" class="fa fa-times fa-lg"></i></th>
							</tr>
						</tbody>
					</table>
					<span class="totalBar" style="float: right;"><h3>Total: <input money precision="2" disabled ng-model="vm.invoice.total" placeholder="${{vm.findSum()}}"/></h3></span>
				</div>
				<a ng-click="vm.createInvoice(vm.invoice)" ng-disabled="!vm.invoice.customer || !vm.invoice.date || !vm.invoice.invoiceNumber" class="btn btn-success btn-md">Submit Invoice</a>
			</fieldset>
		</form>
	</div>
</div>